@font-face {
  font-family: ns-l;
  src: url(/public/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/public/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/public/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-eb;
  src: url(/public/font/NotoSansKR-ExtraBold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/public/font/NotoSansKR-Black.ttf);
}
/* #016A70
#FFFFDD
#D2DE32
#A2C579
rgb(1, 106, 112)
rgb(255, 255, 221)
rgb(210, 222, 50)
rgb(162, 197, 121) */

* {
  margin: 0;
  padding: 0;
  font-family: ns-r;
  color: #1e1e1e;
}
a {
  text-decoration: none;
}
header {
  background-color: rgb(162, 197, 121);
}
.header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > ul {
  list-style-type: none;
  display: flex;
  width: 600px;
}
.nav > ul > li {
  width: calc(100% / 4);
  text-align: center;
  padding: 5px 0;
}
.nav > ul > li > a {
  color: rgb(255, 255, 221);
  font-family: ns-eb;
}
.main-logo > a {
  font-size: 32px;
  font-family: ns-black;
  color: rgb(255, 255, 221);
}
.header-link {
  display: flex;
  align-items: center;
  height: 50px;
}
.header-link > a {
  margin-left: 30px;
}
.header-link > a > span {
  font-size: 30px;
  color: rgb(255, 255, 221);
}
/* content */
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
/* footer */
footer {
  padding: 50px;
  background-color: #eee;
}
.footer-content {
  width: 1200px;
  margin: 0 auto;
}
.footer-content * {
  font-size: 14px;
}
.footer-content > ul {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
}
.footer-content > ul > li {
  float: left;
  padding: 0 10px;
}
